@import "tailwindcss";

body{
    background-color: #DDF4E7;
    font-family: 'Inter', sans-serif;
}

@font-face{
  font-family: 'Inter';
  src: url('./assets/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@theme{
    --color-green-light: #DDF4E7;
    --color-green-dark: #67C090;
    --color-blue-light: #26667F;
    --color-blue-dark: #124170;
}

.react-calendar__navigation button {
  @apply text-xl p-2.5 ;
}

.react-calendar__navigation {
  @apply text-xl text-center ;
}

.react-calendar__tile:hover {
  @apply bg-[#e5e7eb] cursor-pointer;
}

.react-calendar__month-view__weekdays{
  @apply bg-blue-light/45 ;
}

.has-appointment {
  @apply bg-blue-light/30 rounded-full;
}